<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body class="container ">

    <%- include('../partials/header', {pagina: 'home'} ) %>

    <main>
        <div class="jumbotron">
            <h1>node com ejs</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>

        <ul>
            <% 
                information.forEach(function (information) { 
            %>
                <li>
                    <strong><%= information.title %></strong>
                    <%= information.message %>
                </li>
            <%
                })
            %>
          
        </ul>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>